In [1]:
print ("Hola mundo")

Hola mundo

In [7]:
## Variables Primitivas
entero = 3
decimal = 1.1
nombre = "Adrian"
Segundo_nombre = 'Vicente'
casado =  False
hijos = True
profesor = None
print(type(entero))  #int
print(type(decimal))  #float
print(type(nombre))  #str
print(type(Segundo_nombre))  #str
print(type(casado))  #bool
print(type(hijos))  #bol
print(type(profesor)) #NoneType


"""
adasdasdasasfas fdsafsdafsdafsdfaf 
"""

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>

'\nadasdasdasasfas fdsafsdafsdafsdfaf \n'

In [8]:
print(entero)
entero = decimal
print(entero)

3
1.1

In [14]:
# Condicion(Boolean)
#Truty
#Falsy

tuplas = ()
listas = []
diccionarios = {}
print(type(tuplas))  # tuple
print(type(listas))  # list
print(type(diccionarios))  # dict

if(""):  # Falsy
    print("Truty")
else:
    print("Falsy")
    
if("a"):  # Truty
    print("Truty")
else:
    print("Falsy")
    
if(0):  #Falsy
    print("Truty")
else:
    print("Falsy")
    
if(-1):  # Truty
    print("Truty")
else:
    print("Falsy")
    
if(1):  # Truty 
    print("Truty")
else:
    print("Falsy")
    
if(0.00):  #Falsy
    print("Truty")
else:
    print("Falsy")

if(0.01):  # Truty
    print("Truty")
else:
    print("Falsy")
    
if(()): #Falsy
    print("Truty")
else:
    print("Falsy")

<class 'tuple'>
<class 'list'>
<class 'dict'>
Falsy
Truty
Falsy
Truty
Truty
Falsy
Truty
Truty

In [34]:
arreglo = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
arreglo[2]
arreglo[2:5]  #Filtrar ( [2, 5[)
arreglo[2:]
arreglo[-1]  #ultimo arreglo al reves
arreglo[2:-1]  #Filtrar ( [2, -1[) 
arreglo[-8:-1]
arreglo[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [35]:
print(type(7 in arreglo))
print(7 in arreglo)

<class 'bool'>
True

In [36]:
len(arreglo)  #10 elementos

10

In [56]:
arreglo.append(11)  #a√±ade al final
arreglo.pop(11)
arreglo

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [59]:
for numero in arreglo:
    print(numero)
    
contador = 0
while contador < 10:
    print(contador)
    contador+= 1

1
2
3
4
5
6
7
8
9
10
11
0
1
2
3
4
5
6
7
8
9

In [60]:
tupla_numeros = (1,2,3,4,5)
tupla_numeros

(1, 2, 3, 4, 5)

In [66]:
tupla_numeros[0:3] 
len (tupla_numeros)
3 in tupla_numeros

True

In [71]:
adrian = {
    nombre: "Adrian",
    "apellido": 'Carrera',
    'edad': 30,
    "sueldo": 1.1,
    hijos: None,
    casado: False,
    "mascotas": [{nombre: "cachetes"}]
}
adrian

{'Adrian': 'Adrian',
 'apellido': 'Carrera',
 'edad': 30,
 'sueldo': 1.1,
 True: None,
 False: False,
 'mascotas': [{'Adrian': 'cachetes'}]}

In [72]:
adrian["apellido"]

'Carrera'

In [80]:
adrian['mascotas'][0]

{'Adrian': 'cachetes'}